html{font-family:"微软雅黑",Arial,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;font-family:Microsoft YaHei,sans-serif,Arial}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
a{text-decoration:none;color:#000;outline:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
a{-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear}
input::placeholder{color:#dddddd;text-indent:60px;}

@media screen and (min-width:320px) and (max-width:359px) and (orientation:portrait) {
    .Margin_leftpp{margin-left: 6rem;}
    .contwoMleft{margin-left: 9rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    .Margin_leftpp{margin-left: 10rem;}
     .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    .Margin_leftpp{margin-left: 9.5rem;}
     .contwoMleft{margin-left:11rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    .Margin_leftpp{margin-left:10rem;} 
    .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    .Margin_leftpp{margin-left:10rem;}
    .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;} 
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
     .Margin_leftpp{margin-left: 11.9rem;}
     .contwoMleft{margin-left: 8rem;}
     .fz16{font-size:16px;}
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    .Margin_leftpp{margin-left: 11.9rem;}
    .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:1000px) and (max-width:1600px) and (orientation:portrait){
    .Margin_leftpp{margin-left: 69.9rem;}
    .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:700px) and (max-width:999px) and (orientation:portrait){
    .Margin_leftpp{margin-left: 33.9rem;}
    .contwoMleft{margin-left: 36rem;}
    .fz16{font-size:16px;}
}
@media screen and (min-width:600px) and (max-width:699px) and (orientation:portrait){
    .Margin_leftpp{margin-left: 23.5rem;}
    .contwoMleft{margin-left: 8rem;}
    .fz16{font-size:16px;}
}